*  {
  margin: 0;
  padding:0;
}

a{
  text-decoration: none;
  color:#000;
  padding:3px;
}

a:hover{
	color:red;
}

a:active{
	color:green;
}

.h1{
	width:100%;
	margin-top:4px;
  background-color:#C0C0C0;
	color:#555555;
  padding:0px;
  text-align:center;
  border:3px;
  border-radius:0;
  font-size:22px;
  text-decoration: ;
	text-transform: ;

}
.h2{
	width:100%;
	margin:0;
  background-color:none;
  padding:1px;
	color:#555555;
  text-align:center;
  font-weight:bold;
	font-style:italic;
	text-decoration:;
	text-transform:;
  font-size:17px;
}

.h3{
  	width:100%;
  	margin:0;
    background-color:#C0C0C0;
  	color:#555555;
    padding:0px;
    text-align:center;
    margin:0;
    padding:0;
    border:0;
    border-radius:15px;
    font-size:12px;
}


#menu-outer {
  height: 44px;
  background-color:silver;
  padding: 0;
  margin: 0;
}

.table{
  display:table;
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: px;
  list-style: none;
  padding-top:14px;
  }

  ul#horizontal-list li {
  display:inline;

}

#container {
  text-align:center;
  margin: 3;
  padding-top:3px;
  padding-left: 3px;
  padding-right:3px;
}

#main-footer {
  text-align:center;
  width:100%;
}
